header {
    background-color: #e0ffcd;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #01352c;
}

header h2 {
    margin: 0;
    font-size: 24px;
    color: #343a40;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}
